<div id="statRow" class="row">
   <div class="col d-block">
      <div class="card text-center py-3">
         <h3>1045</h3>
         <p class="text-small text-muted">{{ strings.invoicesGenerated[strings.langService.currentLang] }}</p>
      </div>
   </div>
   <div class="col d-none d-sm-block ">
      <div class="card text-center py-3">
         <h3>86.456,-</h3>
         <p class="text-small text-muted">{{ strings.invoicedInTotal[strings.langService.currentLang] }}</p>
      </div>
   </div>
   <div class="col d-none d-md-block">
      <div class="card text-center py-3">
         <h3>74,6</h3>
         <p class="text-small text-muted">{{ strings.avgInvoicedPrMonth[strings.langService.currentLang] }}</p>
      </div>
   </div>
   <div class="col d-none d-lg-block">
      <div class="card text-center py-3">
         <h3>83,75,-</h3>
         <p class="text-small text-muted">{{ strings.avgInvoiceAmount[strings.langService.currentLang] }}</p>
      </div>
   </div>
   <div class="col d-none d-xl-block">
      <div class="card text-center py-3">
         <h3>1,17</h3>
         <p class="text-small text-muted">{{ strings.avgItemsCountPrInvoice[strings.langService.currentLang] }}</p>
      </div>
   </div>
</div>
<div *ngIf="monthlyInvoicesChart != undefined" class="row mt-4">
   <div class="col">
      <div class="card">
         <div class="card-body">
            <chart [type]="monthlyInvoicesChart.type" [data]="monthlyInvoicesChart.data" [options]="monthlyInvoicesChart.options"></chart>
         </div>
      </div>
   </div>
   <div class="col"></div>
</div>
