<div id="mainWrapper" class="wrapper">
   <div class="sidebar">
      <div class="sidebar-wrapper">
         <div class="logo">
            <a routerLink="./dashboard" class="simple-text">{{ strings.title[strings.langService.currentLang] }}</a>
         </div>
         <ul class="nav">
            <li>
               <a class="nav-link" routerLinkActive="active" routerLink="./dashboard">
                  <fa-icon [icon]="faHome"></fa-icon>
                  <p>{{ strings.home[strings.langService.currentLang] }}</p>
               </a>
            </li>
            <li>
               <a class="nav-link" routerLinkActive="active" routerLink="./invoice">
                  <fa-icon [icon]="faReceipt"></fa-icon>
                  <p>{{ strings.invoices[strings.langService.currentLang] }}</p>
               </a>
            </li>
            <li>
               <a class="nav-link" routerLinkActive="active" routerLink="./customers">
                  <fa-icon [icon]="faAddressBook"></fa-icon>
                  <p>{{ strings.customers[strings.langService.currentLang] }}</p>
               </a>
            </li>
            <li>
               <a class="nav-link" routerLinkActive="active" routerLink="./items">
                  <fa-icon [icon]="faShoppingCart"></fa-icon>
                  <p>{{ strings.items[strings.langService.currentLang] }}</p>
               </a>
            </li>
            <li>
               <a class="nav-link" routerLinkActive="active" routerLink="./configuration">
                  <fa-icon [icon]="faCog"></fa-icon>
                  <p>{{ strings.configuration[strings.langService.currentLang] }}</p>
               </a>
            </li>
            <li>
               <a class="nav-link" routerLink="/">
                  <fa-icon [icon]="faInfoCircle"></fa-icon>
                  <p>{{ strings.information[strings.langService.currentLang] }}</p>
               </a>
            </li>
            <li *ngIf="isAdmin" class="position-bottom">
               <a class="nav-link" routerLinkActive="active" routerLink="/admin">
                  <fa-icon [icon]="faCogs"></fa-icon>
                  <p>Administration</p>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-light">
         <a class="navbar-brand" href="#">{{ account.name }}</a>
         
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <fa-icon class="navbar-toggler-icon" [icon]="faCaretDown"></fa-icon>
         </button>   
         <a id="sideBarMenuIcon" (click)="toggleSidebar()">
            <fa-icon [icon]="faBars"></fa-icon>
         </a>
         
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{ account.name }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a id="btnLogoutLink" class="dropdown-item" routerLink="/account/logout">Logout</a>
                     <a class="dropdown-item" (click)="changeLang('da')" >DA</a>
                     <a class="dropdown-item" (click)="changeLang('en')">EN</a>
                  </div>
               </li>
            </ul>
         </div>
      </nav>
      <div class="content">
         <div class="container-fluid">
            <router-outlet></router-outlet>
         </div>
      </div>
   </div>
</div>