<div class="card">
   <div class="card-header fill">
      <div class="row">
         <div class="col">
            <h3>{{ strings.yourCustomers[strings.langService.currentLang] }}</h3>
            <p class="text-muted mb-0">{{ strings.yourCustomersDescription[strings.langService.currentLang] }}</p>
         </div>
         <div class="col-auto">
            <button (click)="showCustomerModal()" type="button" class="btn btn-primary">{{ strings.createNew[strings.langService.currentLang] }}</button>
         </div>
      </div>
   </div>
   <div class="card-body fluid fluid-top">
      <table id="tblCustomerList" class="table table-striped">
         <thead>
            <tr>
               <th>#</th>
               <th>{{ strings.name[strings.langService.currentLang] }}</th>
               <th>{{ strings.contactPerson[strings.langService.currentLang] }}</th>
               <th>CVR</th>
               <th>{{ strings.street[strings.langService.currentLang] }}</th>
               <th>{{ strings.zipCode[strings.langService.currentLang] }}</th>
               <th>{{ strings.city[strings.langService.currentLang] }}</th>
               <th>{{ strings.edit[strings.langService.currentLang] }}</th>
               <th>{{ strings.delete[strings.langService.currentLang] }}</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let customer of customers">
               <td>{{ customer.id }}</td>
               <td>{{ customer.name }}</td>
               <td>{{ customer.contactperson}}</td>
               <td>{{ customer.cvr }}</td>
               <td>{{ customer.street }}</td>
               <td>{{ customer.zipcode }}</td>
               <td>{{ customer.city }}</td>
               <td (click)="showCustomerModal(customer, $event)" class="icon-td"><a><fa-icon [icon]="faEdit"></fa-icon></a></td>
               <td (click)="deleteCustomer(customer.id)" class="icon-td"><a><fa-icon [icon]="faTimes"></fa-icon></a></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

<div id="customerModal" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      
      <form id="frmEditCustomer" [formGroup]="customerForm" (submit)="customerFormSubmit(customerForm, $event)" novalidate>
         <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">{{ editCustomer == null ? strings.create[strings.langService.currentLang] : strings.edit[strings.langService.currentLang] }} {{ strings.customer[strings.langService.currentLang] | lowercase }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
               <div class="row">
                  <div class="col">
                     <label for="txtCustomerName">{{ strings.name[strings.langService.currentLang] }}</label>
                     <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="customerForm.controls.name.errors?.required && customerForm.controls.name.touched">
                        {{ strings.youHaveToFillACustomerName[strings.langService.currentLang] }}
                     </div>
                     <input type="text" id="txtCustomerName" formControlName="name" class="form-control mb-2" placeholder="Kunde navn">
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                     <label for="txtCustomerContact">{{ strings.contactPerson[strings.langService.currentLang] }}</label>
                     <input type="text" id="txtCustomerContact" formControlName="contactperson" class="form-control mb-2" placeholder="Kontaktperson">
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                     <label for="txtCustomerCVR">{{ strings.cvrNumber[strings.langService.currentLang] }}</label>
                     <input type="text" id="txtCustomerCVR" formControlName="cvr" class="form-control mb-2" placeholder="CVR">
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                     <label for="txtCustomerStreet">{{ strings.street[strings.langService.currentLang] }}</label>
                     <input type="text" id="txtCustomerStreet" formControlName="street" class="form-control mb-2" placeholder="Vej">
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                     <label for="txtCustomerZip">{{ strings.zipCode[strings.langService.currentLang] }}</label>
                     <input type="text" id="txtCustomerZip" formControlName="zipcode" class="form-control mb-2" placeholder="Post nr.">
                  </div>
                  <div class="col">
                     <label for="txtCustomerCity">{{ strings.city[strings.langService.currentLang] }}</label>
                     <input type="text" id="txtCustomerCity" formControlName="city" class="form-control mb-2" placeholder="By">
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ strings.close[strings.langService.currentLang] }}</button>
               <button type="submit" class="btn btn-primary">{{ editCustomer == null ? strings.create[strings.langService.currentLang] : strings.saveChanges[strings.langService.currentLang] }}</button>
            </div>
         </div>
      </form>
   </div>
</div>