<div class="row justify-content-center">
   <div class="col col-md-6 col-lg-4">
      <div class="card mt-5">
         <div class="card-header">
            <h1 class="h3 m-0 font-weight-normal text-center">{{ strings.register[strings.langService.currentLang] }}</h1>
         </div>
         <div class="card-body">
            <div id="alertAccountCreated" class="alert text-center alert-success mb-2" role="alert" *ngIf="accountCreated">
               {{ strings.accountCreatedSuccess[strings.langService.currentLang] }}
            </div>
            <form class="form-signin" id="frmRegister" [formGroup]="registerForm" (submit)="registerFormSubmit(registerForm, $event)" novalidate>
               <label for="txtRegisterEmail" class="sr-only">{{ strings.email[strings.langService.currentLang] }}</label>
               <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="registerForm.controls.email.errors?.required && registerForm.controls.email.touched">
                  {{ strings.emailRequired[strings.langService.currentLang] }}
               </div>
               <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="registerForm.controls.email.errors?.email && registerForm.controls.email.touched">
                  {{ strings.emailNotValid[strings.langService.currentLang] }}
               </div>
               <input type="text" id="txtRegisterEmail" formControlName="email" class="form-control mb-2" placeholder="E-mail adresse" autofocus="">

               <label for="txtRegisterUserName" class="sr-only">{{ strings.username[strings.langService.currentLang] }}</label>
               <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="registerForm.controls.username.errors?.required && registerForm.controls.username.touched">
                  {{ strings.usernameRequired[strings.langService.currentLang] }}
               </div>
               <input type="text" id="txtRegisterUserName" formControlName="username" class="form-control mb-2" placeholder="User name" autofocus="">

               <label for="txtRegisterName" class="sr-only">{{ strings.name[strings.langService.currentLang] }}</label>
               <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="registerForm.controls.name.errors?.required && registerForm.controls.name.touched">
                  {{ strings.nameRequired[strings.langService.currentLang] }}
               </div>
               <input type="text" id="txtRegisterName" formControlName="name" class="form-control mb-2" placeholder="Name" autofocus="">
               
               <label for="txtRegisterPassword" class="sr-only">{{ strings.password[strings.langService.currentLang] }}</label>
               <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.touched">
                  {{ strings.passwordRequired[strings.langService.currentLang] }}
               </div>
               <div class="alert text-center alert-danger my-0" role="alert" *ngIf="registerForm.errors?.notMatching && registerForm.controls.password.touched && registerForm.controls.passwordConfirm.touched">
                  {{ strings.passwordsNotMatching[strings.langService.currentLang] }}
               </div>
               <input type="password" id="txtRegisterPassword" formControlName="password" class="form-control mb-2" placeholder="Password">

               <label for="txtRegisterPasswordConfirm" class="sr-only">{{ strings.passwordConfirm[strings.langService.currentLang] }}</label>
               <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="registerForm.controls.passwordConfirm.errors?.required && registerForm.controls.passwordConfirm.touched">
                  {{ strings.passwordConfirmRequired[strings.langService.currentLang] }}
               </div>
               <input type="password" id="txtRegisterPasswordConfirm" formControlName="passwordConfirm" class="form-control mb-2" placeholder="Password igen">
      
               <button id="btnRegister" class="btn btn-lg btn-primary btn-block mb-2" type="submit" [disabled]="registerForm.invalid">{{ strings.register[strings.langService.currentLang] }}</button>
               <p>{{ strings.alreadyHaveAnAccount[strings.langService.currentLang] }}? <a routerLink="../login">{{ strings.logInHere[strings.langService.currentLang] }}</a></p>
            </form>
         </div>
      </div>
      
   </div>
</div>