<div class="row justify-content-center">
   <div class="col col-md-6 col-lg-4">
      <div class="card mt-5">
         <div class="card-header">
            <h1 class="h3 m-0 font-weight-normal text-center">Login</h1>
         </div>
         <div class="card-body">
            <form class="form-signin" id="frmLogin" [formGroup]="loginForm" (submit)="loginFormSubmit(loginForm, $event)" novalidate>
               <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="loginFailed">
                  Login-informationerne var ikke korrekte. Prøv igen.
               </div>
               <label for="txtLoginUserName" class="sr-only">{{ strings.username[strings.langService.currentLang] }}</label>
               <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
                  {{ strings.usernameRequired[strings.langService.currentLang] }}
               </div>
               <input type="text" id="txtLoginUserName" formControlName="username" class="form-control mb-2" placeholder="{{ strings.username[strings.langService.currentLang] }}" autofocus="">
               
               <label for="txtLoginPassword" class="sr-only">{{ strings.password[strings.langService.currentLang] }}</label>
               <div class="alert text-center alert-danger mb-2" role="alert" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
                  {{ strings.passwordRequired[strings.langService.currentLang] }}
               </div>
               <input type="password" id="txtLoginPassword" formControlName="password" class="form-control mb-2" placeholder="{{ strings.password[strings.langService.currentLang] }}">
      
               <button id="btnLogIn" class="btn btn-lg btn-primary btn-block mb-2" type="submit" [disabled]="loginForm.invalid">{{ strings.signIn[strings.langService.currentLang] }}</button>
               <p>{{ strings.dontHaveAnAccount[strings.langService.currentLang] }}? <a routerLink="../register">{{ strings.registerHere[strings.langService.currentLang] }}</a></p>
            </form>
         </div>
      </div>
      
   </div>
</div>