<div class="container">
   <div class="row">
      <div class="col">
         <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">{{ strings.theProduct[strings.langService.currentLang] }}</h1>
            <p class="lead">{{ strings.theProductLead[strings.langService.currentLang] }}</p>
         </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
            <p>{{ strings.theProductText[strings.langService.currentLang] }}</p>
      </div>
      <div class="col">

      </div>
   </div>
</div>