/* You can add global styles to this file, and also import other style files */
$primaryColor:#008cba;
$sidebarWidth:250px;

main {
  .carousel-caption {
    top: 10%;
  }
}

.form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
   .checkbox {
      font-weight: 400;
   }
   .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      &:focus {
         z-index: 2;
      }
   }
   .alert {
      font-size: .75rem;
   }
}

.wrapper{
   display: flex;
   .sidebar{
      background:$primaryColor;
      flex-basis: $sidebarWidth;
      min-width: $sidebarWidth;
      .sidebar-wrapper{
         height: 100vh;
         display: flex;
         flex-direction: column;
         .simple-text, .nav-link{
            color:#fff;
         }
         .logo{
            .simple-text{
               width:100%;
               display: block;
               text-align: center;
               padding: 15px 0;
               text-transform: uppercase;
               &:hover{
                  text-decoration: none;
               }
            }
         }
         .nav{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding: 15px;
            border-top: 1px solid rgba(255,255,255,.5);
            li{
               &.position-bottom{
                  margin-top:auto;
               }
               fa-icon{
                  width:25px;
                  display: inline-block;
                  font-size: 1.1rem;
               }
               p{
                  margin: 0;
                  display: inline-block;
                  vertical-align: text-bottom;
               }
               .nav-link{
                  margin: 2px 0;
                  border-radius: 3px;
                  padding: .75rem 1rem;
                  &.active{
                     background: rgba(255,255,255,.23);
                  }
               }
            }
            
         }
      }
   }
   .main-panel{   
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .content{
         background: #f7f7f7;
         padding: 30px 15px;
         flex-grow: 1;
         
      }
   }
}

.navbar{
   background: #fff;
   border-bottom: 1px solid rgba(0,0,0,.1);
   padding: 7.5px 16px;
}

#statRow {
   .col {
      .card {
         > * {
            margin:0;
         }
      }
   }
}

.card{
   .card-header{
      &.fill{
         background: #fff;
      }
   }
   .card-body{
      background: #fff !important;
      &.fluid{
         padding: 1.25rem 0;
      }
      &.fluid-top{
         padding: 0 1.25rem;
         &.fluid{
         padding: 0;
         }
      }
   }
}


.text-small{
   font-size: .75rem;
}

a:not([href]):not([tabindex]){
   color:$primaryColor;
   cursor: pointer;
   &:hover{
      color:lighten($primaryColor, 10%);
   }
}